modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"
